In [8]:
pip install pandas numpy scipy

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.13.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/asif/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/asif/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
# Import libraries
import pandas as pd
import numpy as np
from scipy.stats import pearsonr

In [10]:
# Import data file
correl= pd.read_csv("/Users/asif/Desktop/Regression Python/Sales Regression/Sales.csv")

In [11]:
# View variable names
correl.head()
correl.tail()

    Marketing Spend  Number of Employees  Business Age  Sales Revenue
95             54.4                 18.1          10.4          162.1
96             57.0                 36.5          15.3          189.8
97             48.4                 44.9           4.3          143.6
98             12.2                 44.4          12.4           89.0
99             19.7                 39.2           1.7           60.1

In [12]:
# Define variables
x= correl['Business Age']
y= correl['Sales Revenue']

In [13]:
# Code for correlation
np.corrcoef(x,y)

array([[1.        , 0.26565907],
       [0.26565907, 1.        ]])

In [14]:
# Calculate p-value
p_value = pearsonr(x,y)[1]
print("p-value:", p_value)

p-value: 0.007554167293758267